*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.open-sans-body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth 100";
}
nav{
    background:#6648a4;
}
body {
    font-family: sans-serif;  
    background: url(./assets/Images/360_F_514951224_2dxMLbIw5qNRdPGD003chpbVcxWtcp7K.jpg) left bottom no-repeat, linear-gradient(to bottom,#727cff, #4d0f8c);
}
#introduction p {
    color: white;
}
h1, h2 {
    color: #faf3f3;
    text-align: center;
}
h3{
    color: #faf3f3; 
}
h4 {
    margin:auto !important;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
.btn {
    flex-wrap: wrap;
    background-color: #4A148C;
    border: 1px solid black;
    cursor: pointer;
    margin: 5px;
    transition: margin-right 5s, color 1s !important;
}
.style {
    font-size: 20px; 
    font-weight: bold
}
.btn:hover {
    background-color: #6A1B9A;
}
.cards-1-5 {
    display: flex;
    flex-direction: column;
}
.cards-2-5 {
    display: flex;
    flex-wrap: wrap;
}
.cards-3-5 {
    display: flex;
    flex-wrap: wrap;
}
.cards-4-5 {
    display: flex;
    flex-wrap: wrap;
}
.cards-5-5 {
    display: flex;
    flex-wrap: wrap;
}
.rules-information{
    display: flex;
    justify-content: center;
    align-items: center;
}
#rules {
    color: #ffffff;
}
.title {
    color: white;
  background: linear-gradient(90deg, purple, blue, green, yellow, orange, red);
  -webkit-background-clip: text;
  background-clip: text;
  position: absolute;
}
.title:hover {
    color: transparent;
    transition: 500ms ease;
}
.bannerImage {
    width: 100%; 
    height: 300px;
}
#card-1, #card-2, #card-3 {
    width: 65rem;
}
.card {
    width: 40rem;
    height: auto;
}
.card-title {
    color: black !important;
    font-size: 25px !important;
    background: white 1px;
    border: solid;
    border-color: white;
    border-top-right-radius: 15px;
    opacity: 75%;
}
footer {
    background-color: #6648a4;
    text-align: left;
    padding: 5px;
    color: white;
}
.bottom {
    display: flex;
    justify-content: center;
}
#jokes-table {
    margin: 50px;
}
.flip-card {
    background-color: transparent;
    width: 400px;
    height: 300px;
    border: 1px solid #000000;
    perspective: 1000px; 
    display: flex;
    border-radius: 15px;
  }
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
  }
  .flip-card-front {
    background-color: #ffffff;
    color: black;
  }
  .flip-card-back {
    background-color: #6648a4;
    color: white;
    transform: rotateY(180deg);
    font-size: 15px;
  }
  #both-cards {
    display: flex;
    justify-content: space-evenly;
    text-align: center;

  }
  #liked-1, #disliked-1 {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 25px;
  }
.bottom-img {
    float: left;
}
