/* Margin & Padding */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Font information */
.open-sans-body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth 100";
}

/* Body Style */
body {
    font-family: sans-serif;
    background-color: #4A148C;

}
/* Style header */
h1, h2 {
    color: #faf3f3;
    text-align: center;
}
/* Container */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Buttons */
.btn {
    display: inline-block;
    padding: 10px 20px;
    color: #800080;
    background-color: #4A148C;
    border: none;
    cursor: pointer;
    transition: margin-right 2s, color 1s;
}

/* button hover */
.btn:hover {
    background-color: #6A1B9A;

}
.cards-2-5 {
    display: flex;
}

.cards-3-5 {
    display: flex;
}

.cards-4-5 {
    display: flex;
}

.cards-5-5 {
    display: flex;
}
